{% extends "base.html" %}
{% load static %}
{% block title %} О нас {% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/desktop_version/homepages.css' %}">
{% endblock %}
{% block content %}
<div class="homepages">
    <div class="about-us">
        <h1>О НАС</h1>
        <p>
            Наш магазин, расположенный в историческом городе Пушкин (Царское Село), предлагает широкий ассортимент свежих фруктов, овощей, сухофруктов и свежевыжатых соков. 
            Мы гордимся качеством нашей продукции, которая поступает только от проверенных поставщиков, чтобы гарантировать её свежесть и натуральность.
        </p>
        <p>
            Каждое утро наши полки наполняются сочными фруктами и овощами, собранными в сезон их наилучшего созревания. 
            Для тех, кто ищет здоровую альтернативу перекусам, мы предлагаем разнообразие сухофруктов, которые сохраняют свои питательные свойства благодаря тщательной обработке и хранению.
        </p>
        <p>
            Наши свежевыжатые соки – это не только вкусно, но и полезно. 
            Изготавливаемые непосредственно перед продажей, они сохраняют все витамины и минералы, необходимые для вашего здоровья и хорошего самочувствия.
        </p>
        <p>
            Приходите к нам в Пушкине, и вы всегда найдете что-то свежее и полезное для своего стола. 
            Мы с радостью поможем вам сделать выбор и ответим на все ваши вопросы. 
            Поддержка здорового образа жизни и удовлетворение ваших гастрономических предпочтений – наша основная цель.
        </p>
        <p>
            Посетите нас в городе Пушкин, чтобы ощутить вкус настоящей свежести!
        </p>
    </div>
    <div class="about-us">
        <h1>РЕКВИЗИТЫ:</h1>
        <p>
            Индивидуальный прередприниматель Мамедова Кифаят Аждар Оглы<br>
            <strong>ИНН:</strong> 782021532560<br>
            ОГРН: 318784700221207<br>
            Наименование банка: ПАО Сбербанк<br>
            БИК: 044030653<br>
            Корреспондентский счет: 30101810500000000653<br>
            Расчетный счет<br>
            Юридический адрес: г. Санкт-Петербург, г. Пушкин, Московская ул., д. 25<br>
        </p>
    </div>
</div>
{% endblock %}
