{% extends "base.html" %}
{% load static %}
{% block title %} Доставка {% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/desktop_version/homepages.css' %}">
{% endblock %}
{% block content %}
<div class="homepages">
    <div class="delivery">
        <div>
            <h2>УСЛОВИЯ ДОСТАВКИ</h2>
            <p>
                <strong>Минимальный заказ:</strong>
                Для оформления заказа необходимо сделать покупку на сумму от 500₽
            </p>
            <p>
                <strong>Стоимость доставки:</strong>
                Доставка оплачивается отдельно. 
                Точная стоимость рассчитывается в зависимости от адреса доставки и объема заказа. 
                Стоимость доставки 300₽ по г. Пушкин и г. Павловск.<br>
                Бесплатная доставка при заказе от 1500 рублей.
                
            </p>
        </div>
        <div>
            <h2>ВРЕМЯ РАБОТЫ</h2>
            <p>
                <strong>Прием заказов:</strong>
                Мы принимаем заказы ежедневно с 08:00 до 19:00.
            </p>
        </div>
        <div>
        <h2>ВРЕМЯ ДОСТАВКИ</h2>
            <p>
                <strong>Стандартное время доставки:</strong> 
                Обычное время ожидания составляет от 60 минут.</p>
            <p>
                <strong>Согласование времени:</strong> 
                Время доставки следует согласовать с нашим менеджером.
            </p>
            <p>
                <strong>Примечание:</strong> 
                Время доставки может изменяться в зависимости от вашего местонахождения и текущей ситуации на дорогах.
                Для точных сроков доставки в пригородные зоны или удаленные районы, пожалуйста, уточняйте информацию у нашего менеджера.
            </p>
        </div>
        <p>
            <strong>
                Если вам нужна дополнительная информация или есть вопросы, пожалуйста, свяжитесь с нашей службой поддержки. Мы всегда готовы помочь!
            </strong>
        </p>
    </div>
</div>
{% endblock %}
