{% extends "base.html" %}
{% load static %}
{% block title %} Гарантия качества {% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/desktop_version/homepages.css' %}">
{% endblock %}
{% block content %}
<div class="homepages">
    <div class="quality_assurance">
        <h2>ГАРАНТИЯ КАЧЕСТВА ПРОДУКТОВ</h1>

        <p>В нашем интернет-магазине мы стремимся обеспечить вам только свежие и высококачественные продукты. Мы понимаем, что качество и безопасность продуктов питания — это приоритет для наших клиентов, поэтому разработали ряд мер, чтобы гарантировать соответствие нашим стандартам.</p>

        <h2>КАК МЫ ОБЕСПЕЧИВАЕМ КАЧЕСТВО</h2>
        <p><strong>Сертифицированные поставщики</strong>: Мы работаем только с проверенными и сертифицированными поставщиками, которые соответствуют стандартам качества и безопасности продуктов.</p>
        <p><strong>Контроль качества на складе</strong>: Перед отправкой каждого заказа наши специалисты проводят тщательный контроль качества всех продуктов. Это включает проверку свежести, внешнего вида и соответствия заявленным характеристикам.</p>
        <p><strong>Правильное хранение</strong>: Продукты хранятся в специально оборудованных помещениях с контролем температуры и влажности, что помогает сохранять их свежесть и питательные свойства.</p>
        <p><strong>Упаковка и транспортировка</strong>: Мы используем качественные упаковочные материалы, которые обеспечивают надежную защиту товаров во время транспортировки. Для скоропортящихся продуктов применяются специальные термоупаковки, поддерживающие оптимальную температуру.</p>
        <p><strong>Соблюдение санитарных норм</strong>: Все процессы, связанные с обработкой и транспортировкой продуктов, соответствуют строгим санитарным и гигиеническим требованиям.</p>

        <h2>НАШИ ОБЯЗАТЕЛЬСТВА ПО ГАРАНТИИ КАЧЕСТВА</h2>
        <p><strong>Возврат и обмен</strong>: П. 25 Закона «О защите прав потребителей» запрещает обмен и возврат продуктовых товаров надлежащего качества. Однако если вы передумали покупать товар при осуществлении расчета, вы можете попросить продавца отменить операцию. Сделать это можно до того момента, как будет напечатан чек и вы передадите деньги продавцу, так как с этого момента покупка считается осуществленной.</p>
        <p><strong>Возврат товара ненадлежащего качества осуществляется только в следующих случаях:</strong>
            истек срок годности товара в момент получения его Потребителем.
            в момент доставки товара были обнаружены следующие дефекты либо повреждения товара:
            нарушена целостность упаковки, что привело к повреждению внешнего вида товара
            испорчен внешний вид товара.
        </p>

        <h2>ВАЖНО ЗНАТЬ</h2>
        <p><strong>Срок годности</strong>: Обращайте внимание на срок годности продуктов, указанный на упаковке. Если у вас возникли вопросы по поводу срока годности или состояния товара, пожалуйста, свяжитесь с нашей службой поддержки.</p>
        <p><strong>Внешний вид продуктов</strong>: Внешний вид товаров может отличаться от фотографий на сайте из-за особенностей упаковки или естественных вариаций в продукте.</p>

        <p>Если у вас возникли вопросы или вам нужна дополнительная информация, не стесняйтесь обращаться к нам. Мы всегда готовы помочь вам и гарантируем, что ваша покупка будет удовлетворять вашим ожиданиям!</p>
    </div>
</div>
{% endblock %}
