{% extends "base.html" %}
{% load static %}
{% block title %} Список покупок {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/desktop_version/cart.css' %}">
{% endblock %}
{% block content %}
    <main>
        {% if request.user.is_authenticated %}
            <section class="list-cart-products">
                {% if not carts.exists %}
                    <div class="cart-logo">
                        <p>Ваша корзина пуста!</p>
                        <img src="{% static 'logo/cart-empty.png' %}" alt="Изображение">
                    </div>
                {% else %}
                    <p class="cart-list-products">
                        Список продуктов в корзине:
                    </p>
                    {% for cart in carts %}
                        <figure class="cart-product">
                            <div class="cart-product-item">
                                <img class="cart-product-img" src="{{ cart.products.image.url }}" alt="{{ cart.products.name }}">
                                <p class="cart-product-name">{{ cart.products.name }}</p>
                            </div>
                            <figcaption class="cart-product-info">
                                <form action="{% url 'cart:cart_remove' cart.products.id %}" method="post">
                                    {% csrf_token %}
                                    <input class="cart-product-delete" type="submit" value="➖">
                                </form>
                                <p class="cart-product-weight">{{ cart.weight }} кг</p>
                                <form action="{% url 'cart:cart_add' cart.products.id %}" method="post">
                                    {% csrf_token %}
                                    <input class="cart-product-add" type="submit" value="➕">
                                </form>
                                <p class="cart-product-price">{{ cart.price }} &#8381</p>
                            </figcaption>
                        </figure>
                    {% endfor %}
                    <div class="sum-cart-products">
                        <a href="{% url 'orders:orders' %}">
                        <button>Перейти к заказу {{ total_price }} <span>&#8381</span></button>
                        </a>
                    </div>
                {% endif %}
            </section>
        {% else %}
            <section class="list-cart-products">
                {% if carts %}
                    <p class="cart-list-products">
                        Список продуктов в корзине:
                    </p>
                    {% for cart in carts %}
                        <figure class="cart-product">
                            <div class="cart-product-item">
                                <img class="cart-product-img" src="{{ cart.product.image.url }}" alt="{{ cart.product.name }}">
                                <p class="cart-product-name">{{ cart.product.name }}</p>
                            </div>
                            <figcaption class="cart-product-info">
                                <form action="{% url 'cart:cart_remove' cart.product.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="product_id" value="{{ cart.product.id }}">
                                    <input class="cart-product-delete" type="submit" value="➖">
                                </form>
                                <p>{{ cart.weight }} кг</p>
                                <form action="{% url 'cart:cart_add' cart.product.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="product_id" value="{{ cart.product.id }}">
                                    <input class="cart-product-add" type="submit" value="➕">
                                </form>
                                <p>{{ cart.price }} &#8381</p>
                            </figcaption>
                        </figure>
                    {% endfor %}
                    <div class="sum-cart-products">
                        <a href="{% url 'orders:orders' %}">
                            <button>
                                Перейти к заказу {{ total_price }} <span>&#8381</span>
                            </button>
                        </a>
                    </div>
                {% else %}
                    <div class="cart-logo">
                        <p>Ваша корзина пуста!</p>
                        <img src="{% static 'logo/cart-empty.png' %}" alt="Изображение">
                    </div>
                {% endif %}
            </section>
        {% endif %}
    </main>
{% endblock %}
