{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Интернет-магазин продуктов питания.">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/desktop_version/base.css' %}">
    {% block css %}{% endblock %}
</head>
<body data-user-authenticated="{{ request.user.is_authenticated }}">
    <nav>
        {% include "includes/nav.html" %} <!-- Навигация -->
    </nav>
    <main>
        {% block content %}
            <!-- Основной контент -->
        {% endblock %}
    </main>
    <footer>
        {% include "includes/footer.html" %} <!-- Основной контент -->
    </footer>
</body>
<script src="{% static 'js/AJAX.js' %}"></script>
</html>