{% extends "base.html" %}
{% load static %}
{% block title %} Изменение пароля {% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/desktop_version/login.css' %}">
{% endblock %}
{% block content %}
<div class="login-item">
    <form method="post" action="{% url 'users:password_change' %}">
        {% csrf_token %}
        <div class="form-password-change">
            {% for field in form %}
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div class="errors">{{ field.errors }}</div>
                {% endif %}
            {% endfor %}
            <p>
                - Пароль не должен быть слишком похож на другую вашу личную информацию.<br>
                - Ваш пароль должен содержать как минимум 8 символов.<br>
                - Пароль не должен быть слишком простым и распространенным.<br>
                - Пароль не может состоять только из цифр.<br>
            </p>
            <p><a href="{% url 'users:password_reset' %}">Забыли пароль?</a></p>
        </div>
        <div class="login-button">
            <button type="submit">Изменить пароль</button>
        </div>
    </form>
</div>
{% endblock %}

