{% extends "base.html" %}
{% load static %}
{% block title %} Восстановление пароля {% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/desktop_version/login.css' %}">
{% endblock %}
{% block content %}
<div class="login-item">
    <p>Восстановить пароль</p>
    <form method="post" action="{% url 'users:password_reset' %}">
        {% csrf_token %}
        {{ form.email.label_tag }}
        {{ form.email }}
        <div class="login-button">
            <button type="submit">Отправить пароль</button>
        </div>
    </form>
</div>
{% endblock %}
