.account{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.account-img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.account p{
    font-size: 20px;
    margin: 20px;
}

.account div{
    background-color: white;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
    width: 400px;

}

.account button{
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
    margin: 10px;
    padding: 20px;
    width: 440px;
    font-size: 30px;
    text-decoration: none;
    cursor: pointer;
}

/* Если нет изображния пользователя */

.account-logo{
    height: 100px;
}
