/* Стили для каталога */

.catalog{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
}

.product {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
    max-width: 220px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin: 20px;
}

.product-img {
    width: 200px;
    height: 200px;
    object-fit: contain; 
    border-radius: 10px; 
    padding-bottom: 5px;
}

/* Дополнительные стили для текста и кнопок */

.product-name {
    font-size: 25px;
    padding-bottom: 10px;
}

.product-price {
    font-size: 16px;
    color: #333;
    padding-bottom: 5px;
}

.product-weight {
    font-size: 14px;
    color: #666;
    margin: 5px 0 10px;
    padding-bottom: 5px;
}

.product-button{
    font-size: 20px;
    padding: 3px 12px;
    border-radius: 20px;
    width: 100%;
    cursor: pointer;
    border: none;
    background-color: rgb(220, 220, 220);
    color: black;
    margin: 0px;
}

.product-button:hover {
    background-color: black;
    color: white;
}

.product-button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-button-delete, .product-button-add {
    font-size: 20px;
    padding: 3px 12px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: rgb(220, 220, 220);
    margin: 0px;
}

.product-button-add:hover {
    background-color: black;
    color: white;
}

.product-button-delete:hover {
    background-color: black;
    color: white;
}

.product-cart-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-cart-button button{
    border: none;
    background-color: black;
    color: white;
    font-size: 30px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.product-cart-button button:hover {
    color: #FF6347; 
}

@media (max-width: 880px) {
    .catalog{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 70px;
        padding-bottom: 100px;
    }
    .product {
        margin: 10px;
    }
    .product-img {
        width: 140px;
        height: 140px;
    }
    .product-name {
        font-size: 20px;
        padding-bottom: 10px;
    }    
    .product-cart-button button{
        display: none;
    }
}
@media (max-width: 540px) {
    .catalog{
        padding-left: 7px;
        padding-right: 7px;
    }
    .product {
        margin: 5px;
    }
    .product-name {
        padding-bottom: 5px;
    }
    .product-button{
        font-size: 15px;
        padding: 5px;
        border-radius: 20px;
    }
    .product-button-delete, .product-button-add {
        font-size: 15px;
        padding: 5px 10px;
        border-radius: 20px;
    }
}
@media (max-width: 355px) {
    .product-img {
        width: 120px;
        height: 120px;
    }
    .product-name {
        font-size: 15px;
        padding-bottom: 10px;
    }    
}
