/* Стили для формы поиска */

.main-search {
    display: flex;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-search input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

.main-search input[type="submit"] {
    padding: 10px 20px;
    background-color: #1b1c1b;
    color: white;
    border: 1px solid #151615;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

/* Стили для каталога */

.catalog{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
}

.product {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    max-width: 400px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin: 20px;
}

.product-img {
    width: 200px;
    height: 200px;
    object-fit: cover; 
    border-radius: 10px; 
    padding-bottom: 5px;
}

/* Дополнительные стили для текста и кнопок */

.product-name {
    font-size: 30px;
    padding-bottom: 10px;
}

.product-price {
    font-size: 16px;
    color: #333;
    padding-bottom: 5px;
}

.product-weight {
    font-size: 14px;
    color: #666;
    margin: 5px 0 10px;
    padding-bottom: 5px;
}

.product-button{
    font-size: 16px;
    padding: 7px 10px;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    border: none;
    background-color: rgb(220, 220, 220);
}

.product-button:hover {
    background-color: black;
    color: white;
}

.product-button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-button-delete, .product-button-add {
    font-size: 20px;
    padding: 2px 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: rgb(220, 220, 220);
}

.product-button-add:hover {
    background-color: black;
    color: white;
}

.product-button-delete:hover {
    background-color: black;
    color: white;
}

.product-cart-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-cart-button button{
    border: none;
    background-color: black;
    color: white;
    font-size: 30px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.product-cart-button button:hover {
    color: #FF6347; 
}

@media (max-width: 820px) {
    .product-img {
        width: 150px;
        height: 150px;
    }
    .catalog{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 70px;
    }
    .product {
        margin: 10px;
    }
    .product-cart-button button{
        margin-bottom: 100px;
    }
}
@media (max-width: 400px) {
    .product-img {
        width: 140px;
        height: 140px;
    }
    .catalog{
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 70px;
    }
    .product {
        margin: 7px;
    }
    .product-name {
        font-size: 25px;
        padding-bottom: 5px;
    }
}