/* Стили кнопок категорий */
.category-buttons {
    display: flex;
    gap: 10px;
    overflow-x: auto; /* Добавляет горизонтальный скролл */
    white-space: nowrap; /* Избегаем переноса кнопок */
    scrollbar-width: none; /* Firefox скрыть полосу прокрутки */
    -ms-overflow-style: none; /* скрыть полосу прокрутки IE и старый Edge */
    margin: 0 auto; /* Центрирует блок по горизонтали */
    max-width: 90%; /* Ограничивает ширину */
}
.category-buttons::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.category-scroll {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 60px;
    background-color: rgb(205, 205, 205);
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-scroll:hover {
    background-color: #ddd;
}

/* Стили для категории */
.category-title {
    font-size: 24px;
    margin: 0px;
    text-align: left;
    scroll-margin-top: 135px; /* Высота фиксированного заголовка */
}

.category-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* Стили для каталога */

.catalog{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
}

.product {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
    max-width: 220px;
    height: 360px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin: 20px;
    position: relative;
}

.product-img {
    width: 200px;
    height: 200px;
    object-fit: contain; 
    border-radius: 10px; 
    padding-bottom: 5px;
}

/* Дополнительные стили для текста и кнопок */

.product-name {
    font-size: 20px;
    padding-bottom: 10px;
}

.product-price {
    font-size: 16px;
    color: #333;
    padding-bottom: 5px;
}

.product-weight {
    font-size: 14px;
    color: #666;
    margin: 5px 0 10px;
    padding-bottom: 5px;
}

.product-quantity{
    display: none;
    font-size: 16px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.product-button-delete {
    display: none;
    font-size: 20px;
    padding: 3px 12px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: rgb(220, 220, 220);
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.product-button-add {
    font-size: 20px;
    padding: 3px 12px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: rgb(220, 220, 220);
    position: absolute;
    bottom: 10px;
    right: 10px;
    left: 10px;
}

/* Состояние после нажатия */
.product-button-add.fixed {
    left: auto; /* Убираем левое смещение */
}

.product-button-add:hover {
    background-color: black;
    color: white;
}


.product-button-delete:hover {
    background-color: black;
    color: white;
}

@media (max-width: 880px) {
    /* Стили кнопок категорий */
    .category-buttons {
        position: fixed;
        z-index: 2000;
        top: 80px;
        left: 0;
        right: 0;
    }
    /* Стили для категории */
    .category-title {
        margin: 10px;
    }
    .catalog{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 130px;
        padding-bottom: 100px;
    }
    .product {
        margin: 10px;
        max-width: 180px;
        height: 320px;
    }
    .product-img {
        width: 160px;
        height: 160px;
    }
    .product-name {
        font-size: 18px;
        padding-bottom: 10px;
    }
}
@media (max-width: 540px) {
    .catalog{
        padding-left: 7px;
        padding-right: 7px;
    }
    .product {
        margin: 5px;
    }
    .product-img {
        width: 160px;
        height: 160px;
    }
    .product-name {
        padding-bottom: 5px;
    }
    .product-button{
        font-size: 15px;
        padding: 5px;
        border-radius: 20px;
    }
    .product-button-delete, .product-button-add {
        font-size: 15px;
        padding: 5px 10px;
        border-radius: 20px;
    }
}
@media (max-width: 400px) {
    .product {
        max-width: 160px;
        height: 300px;
    }
    .product-img {
        width: 145px;
        height: 145px;
    }
    .product-name {
        font-size: 15px;
        padding-bottom: 10px;
    }    
}
@media (max-width: 355px) {
    .product-img {
        width: 120px;
        height: 120px;
    }
    .product-name {
        font-size: 15px;
        padding-bottom: 10px;
    }    
}
