/* Стили для каталога заказов */

.list-order-products{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}
.order-list-products{
    margin: 20px;
    font-size: 30px;
}

.order-product{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    max-width: 800px;
    width: 100%;
    padding: 5px 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.order-product-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.order-product-img{
    width: 100px;
    height: 100px;
    border-radius: 20%;
    object-fit: contain;
    box-sizing: border-box;
}
.order-product-name{
    font-size: 24px;
}
.order-product-info{
    display: flex;
    align-items: center;
    font-size: 24px;
    gap: 20px;
}
/* Стили стоимоти заказа */

.order-total-price{
    max-width: 800px;
    width: 100%;
}

.order-total-price h1{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.order-total-price p{
    font-size: 25px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 40px;
}

/* Стили для данных заказа */

.order-info-pay{
    background-color: #FF6347;
    padding: 10px 40px;
    max-width: 600px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.order-info p{
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin: 30px;
}

.order-info label {
    font-size: 20px;
}

.order-info input {
    width: 100%;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 20px;
    color: #FF6347;
}

.order-info-check-list{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.order-info-check-list input {
    width: auto;
    margin-right: 10px;
    margin-left: 20px;
}

/* Стиль кнопки оформления заказа */

.order-pay{
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-pay-button{
    border: none;
    background-color: black;
    color: white;
    font-size: 30px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.order-pay-button:hover {
    color: #FF6347; 
}

/* Стиль логотипа корзины если она пустая */

.order-logo{
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    margin-top: 60px;
}

.order-logo img{
    width: 300px;
    height: 300px;
}

@media (max-width: 880px) {
    .order-list-products{
        font-size: 25px;
    }
    .list-order-products{
        margin-top: 70px;
        margin-bottom: 100px;
    }
    .order-product{
        margin: 5px;
    }
    .order-product-img{
        width: 100px;
        height: 100px;
    }
    .order-product-info{
        font-size: 20px;
    }
    .order-total-price h1{
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .order-total-price p{
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .order-info-pay{
        background-color: transparent; 
        box-shadow: none;
        padding: 0;
    }
    .order-info p{
        font-size: 25px;
        margin: 20px;
    }
    .order-info label {
        font-size: 18px;
    }
    .order-info input {
        font-size: 18px;
        padding: 10px;
    }
    .order-pay-button{
        font-size: 20px;
        padding: 10px;
        margin-bottom: 20px 0;
    }
}
@media (max-width: 620px) {
    .order-product-img{
        width: 70px;
        height: 70px;
    }
    .order-product-name{
        font-size: 20px;
    }
    .order-product-info{
        font-size: 20px;
    }
    .order-info p{
        font-size: 25px;
        margin: 20px;
    }
    .order-info label {
        font-size: 18px;
    }
    .order-info input {
        font-size: 18px;
        padding: 10px;
    }
    .order-pay-button{
        font-size: 20px;
        padding: 10px;
        margin-bottom: 20px 0;
    }
    .order-logo{
        margin-top: 110px;
    }
}
@media (max-width: 490px) {
    .order-product-img{
        width: 65px;
        height: 65px;
    }
    .cart-product-name{
        font-size: 17px;
    }
    .order-product-info{
        font-size: 17px;
        gap: 15px;
    }
    .cart-product-info p{
        padding: 5px;
    }
}