/* Стили для каталога истории заказов */

.list-order-history-products{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.order-history-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    width: 700px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.order-history-product-img{
    margin-left: 20px;
    width: 100px;
    height: 100px;
    border-radius: 20%;
    object-fit: cover; 
    box-sizing: border-box;
}

.order-history-product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    margin-right: 50px;
}

/* Стили данных заказа */

.order-history-info{
    width: 700px;
}
.order-history-info h1{
    font-size: 30px;
    margin: 10px 10px;
}
.order-history-info p{
    font-size: 20px;
    margin: 5px 10px;
}

/* Стили стоимоти заказа */
.order-history-total-price{
    width: 700px;
}
.order-history-total-price p{
    font-size: 30px;
    margin: 10px;
}

/* Стиль кнопки удалить заказ */

.order-delete{
    border: none;
    background-color: black;
    color: white;
    font-size: 30px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.order-delete:hover {
    color: #FF6347; 
}

/* Стиль логотипа корзины если она пустая */

.order-history-logo{
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    margin-top: 60px;
}

.order-history-logo img{
    width: 300px;
    height: 300px;
}

/* Стиль для просмотра истории заказов необходимо зарегистрироваться */

.order-history-registration{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    width: 600;
    margin: 100px 0;
}

@media (max-width: 820px) {
    .list-order-history-products{
        margin-top: 70px;
        margin-bottom: 100px;
    }
    .order-history-product{
        margin: 10px;
        width: 500px;
    }
    .order-history-product-img{
        width: 80px;
        height: 80px;
        margin-left: 20px;
    }
    
    .order-history-product-info{
        font-size: 20px;
        margin-right: 20px;
    }
    .order-history-info{
        width: 500px;
    }
    .order-history-total-price{
        width: 500px;
    }
    .order-history-total-price p{
        font-size: 20px;
        margin: 10px;
    }
    .order-delete{
        font-size: 20px;
        padding: 20px;
        margin-bottom: 20px 0;
    }
    .order-history-registration{
        margin: 350px 0;
        text-align: center;
    }
}

@media (max-width: 520px) {
    .order-history-product{
        width: 380px;
    }
    .order-history-product-img{
        width: 70px;
        height: 70px;
        margin-left: 10px;
    }
    
    .order-history-product-info{
        font-size: 17px;
        margin-right: 10px;
    }
    .order-history-info{
        width: 380px;
    }
    .order-history-total-price{
        width: 380px;
    }
    .order-history-total-price p{
        font-size: 20px;
        margin: 10px;
    }
    .order-history-logo{
        margin-top: 110px;
    }
}

@media (max-width: 415px) {
    .order-history-product{
        width: 350px;
    }
    .order-history-product-img{
        width: 65px;
        height: 65px;
    }
    
    .order-history-product-info{
        font-size: 17px;
        margin-right: 10px;
    }
    .order-history-info{
        width: 350px;
    }
    .order-history-total-price{
        width: 350px;
    }
    .order-history-registration{
        margin: 300px 0;
    }
}
