{% load static %}
<footer>
    <div class="footer-content">
        <div class="requisites-item">
            <h1>Реквизиты:</h1>
            <p>
                ИП Мамедов<br>
                ИНН 78327283482<br>
                Расчетный счет: 408028108384884872
            </p>
        </div>
        <div class="contact-item">
            <a href="#" class="contact-item-info">О нас</a>
            <a href="#" class="contact-item-info">Доставка</a>
            <a href="#"class="contact-item-info">Гарантия качества</a>
            <h1>Контакты:</h1>
            <a href="https://t.me/romanburov89"><img src="{% static 'logo/logo_telegram.jpeg' %}"alt="Telegram" width="40"></a>
            <a href="https://api.whatsapp.com/send?phone=79046484137&text=Привет!"><img src="{% static 'logo/logo_whatsapp.jpeg' %}"alt="WhatsApp"width="40"></a>
            <a href="tel:+79046484137"><img src="{% static 'logo/logo_telefon.jpeg' %}"alt="Telefon" width="40"></a>
        </div>
    </div>
</footer>
