{% load static %}
<nav>
    <div class="navigation">
        <div class="navigation-menu">
            <a href="{% url 'catalog:product_list' %}">
                <button class="navigation-btn">
                    <img class="navigation-logo" src="{% static 'logo/fruit.png' %}" alt=""> 
                    <p>Каталог</p>
                </button>
            </a>
            <a href="{% url 'cart:cart' %}">
                <button class="navigation-btn">
                    <img class="navigation-logo" src="{% static 'logo/shopping-cart.png' %}" alt=""> 
                    <p>Корзина</p>
                </button>
            </a>
            <a href="{% url 'orders:orders' %}">
                <button class="navigation-btn">
                    <img class="navigation-logo" src="{% static 'logo/groceries.png' %}" alt="">
                    <p>Заказ</p>
                </button>
            </a>
            <a href="{% url 'orders:history_orders' %}">
                <button class="navigation-btn">
                    <img class="navigation-logo" src="{% static 'logo/receipt.png' %}" alt="">
                    <p>История</p>
                </button>
            </a>
        </div>
        <div class="navigation-login">
            {% if user.is_authenticated %}
            <a href="{% url 'users:account' %}">
                <button class="navigation-btn">
                    <img class="navigation-logo" src="{% static 'logo/user.png' %}" alt="">
                    <p>Аккаунт</p>
                </button>
            </a>
            {% else %}
            <a href="{% url 'users:login' %}">
                <button class="navigation-btn">
                    <img class="navigation-logo" src="{% static 'logo/log-in.png' %}" alt="">
                    <p>Вход</p>
                </button>
            </a>
            {% endif %}
        </div>
    </div>
</nav>
