@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

body {
    padding: 20px 50px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgb(218, 158, 18);
}

/* Навигация */

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-radius: 10px;
}

.navigation-btn{
    font-size: 20px;
    border-radius: 10px;
    border: none;
    padding: 10px 25px;
    color: black;
    background-color: white;
    margin: 10px;
    cursor: pointer;
}

.navigation-btn:hover {
    color: #FF6347; 
}

.navigation-menu a{
    text-decoration: none;
}

.navigation-btn span{
    padding: 10px;
}

/* Реквизиты и контакты */

.footer-content{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 30px 50px;
    line-height: 1.5;
}

.product-add-button{
    align-items: center;
}

.contact-item-info{
    display: block;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.contact-item-info:hover {
    color: #FF6347; 
}

