.order-product{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* расстояние между элементами */
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: aqua;
    border-radius: 20px;
}

.order-product-img{
    width: 100px;
    height: 100px;
    border-radius: 20%;
    object-fit: cover; 
    box-sizing: border-box;
}

.order-product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 34px;
}

.order{
    font-size: 30px;
    margin: 20px 20px;
}

.order-total-price{
    font-size: 30px;
    margin: 20px 20px;
}

.order-info input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    margin: 20px 20px;
}

.order-info label{
    margin: 20px 20px;
}

.order-pay-button{
    border: none;
    background-color: black;
    color: white;
    font-size: 30px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.order-pay-button:hover {
    color: #FF6347; 
}

.order-logo{
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    margin: 20px;
    font-size: 30px;
}
